body {
  font-size: 14px;
  background: #f4f4f4;
  font-family: 'Droid Sans', sans-serif;
}
#content {
  max-width: 960px;
  position: relative;
}
.mainHeader {
  margin: 10px 0;
  line-height: 30px;
  background-color: #00dbee;
  font-size: 1.1428571428571428em;
  color: #ffffff;
}
.mainHeader > h1 {
  display: block;
  float: left;
  line-height: inherit;
  padding: 0 1.0416666666666667%;
  font-family: 'Droid Serif', serif;
}
.mainHeader .appName {
  display: block;
  float: left;
  width: 23.958333333333332%;
  padding: 0 1.0416666666666667%;
  font-family: 'Droid Serif', serif;
  background-color: #333333;
}
.mainHeader .searchRestaurant {
  float: left;
  width: 16.666666666666668%;
  background-color: #999999;
  height: 30px;
  margin: 0;
  padding: 0 1.0416666666666667%;
  border: 0;
  outline: 0;
  color: #ffffff;
}
.mainHeader .searchRestaurant:focus {
  outline: 0;
}
.mainHeader .searchRestaurant::-webkit-input-placeholder {
  color: #ffffff;
}
.mainHeader .searchRestaurant:-moz-placeholder {
  color: #ffffff;
}
.mainHeader .searchRestaurant::-moz-placeholder {
  color: #ffffff;
}
.mainHeader .searchRestaurant:-ms-input-placeholder {
  color: #ffffff;
}
.mainHeader:after {
  display: block;
  content: '';
  clear: both;
}
aside {
  float: left;
  width: 23.958333333333332%;
  background-color: #ffffff;
  margin-left: 1.0416666666666667%;
}
aside h1 {
  color: #ffffff;
  background-color: #00dbee;
  line-height: 30px;
  font-size: 1.1428571428571428em;
  margin-bottom: 10px;
  padding: 0 10px;
}
aside nav {
  border-top: 1px solid #f4f4f4;
}
aside nav > .menuItem {
  display: block;
  line-height: 30px;
  border-bottom: 1px solid #f4f4f4;
  color: #999999;
  text-decoration: none;
  padding: 0 10px;
  transition: background .5s;
}
aside nav > .menuItem:hover {
  color: #f4f4f4;
  background-color: #333333;
}
.restaurants {
  float: left;
  width: 71.875%;
  margin-left: 2.0833333333333335%;
  margin-right: 1.041666%;
}
.restaurant {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.restaurant .logo {
  display: block;
  float: left;
  width: 4.285714rem;
  height: 4.285714em;
  margin: 10px;
}
.restaurant .logo img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
.restaurant .restaurantInfo {
  width: 50%;
  margin-bottom: 10px;
}
.restaurant .restaurantInfo .restaurantName {
  padding-top: 10px;
  font-size: 2.142857142857143em;
  line-height: 2.285714rem;
  font-family: 'Droid Serif', serif;
  color: #333333;
}
.restaurant .restaurantInfo address {
  font-size: 0.8571428571428571em;
  line-height: 1rem;
}
.restaurant .restaurantInfo address > a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.restaurant .restaurantInfo address .phoneNumber {
  color: #00dbee;
}
.restaurant .restaurantInfo address .distance {
  display: none;
}
.restaurant .restaurantInfo:after {
  display: block;
  content: '';
  clear: both;
}
.restaurant .course {
  width: 50%;
}
.restaurant .course header {
  display: block;
  float: left;
  margin-left: -2.898550724637681%;
  padding-left: 2.898550724637681%;
  line-height: 30px;
  width: 49.27536231884058%;
  background-color: #333333;
  color: #ffffff;
  font-size: 1.2em;
}
.restaurant .course .priceTag {
  display: block;
  float: left;
  left: 24.637681%;
  line-height: 30px;
  width: 49.27536231884058%;
  background-color: #00dbee;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
}
.restaurant .course .priceTag .amount {
  display: inline-block;
  width: 64.705882%;
}
.restaurant .course .priceTag .currency {
  display: inline-block;
  width: 35.294218%;
  background-color: #f4f4f4;
  color: #333333;
}
.restaurant .course .dishes {
  clear: both;
  font-size: 1.1428571428571428em;
  padding: 10px 2.898550724637681%;
  font-family: 'Droid Serif', serif;
  line-height: 1.8em;
  color: #333333;
}
@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
  .restaurants {
    float: none;
    margin: 0;
    width: auto;
  }
  .restaurants .restaurant .logo {
    width: 26%;
    height: auto;
    margin: 2%;
  }
  .restaurants .restaurantInfo {
    width: 70%;
    margin: 0 0 0 30%;
  }
  .restaurants .course {
    width: 100%;
  }
  .restaurants .course header {
    margin-left: 0;
    width: 46.3768115942029%;
  }
}
