/*   C O L O R S    */

@backgroundDark: #4E3F30;
@backgroundLight: #F8F4E4;
@headingColor: #dddddd;
@priceLabelBackground: #A5B3AA;
@priceLabelFont: #FEFEEB;
@courseNameColor: #cecece;
@restaurantName: #A5B3AA;
@restaurantInfo: #414141;

/*   S T Y L E S    */

body {
  font-family: 'Helvetica', 'arial', sans-serif;
  background-color: @backgroundLight;
}

.appName {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}

.mainHeader {
  background-color: @backgroundDark;
  color: @headingColor;
  padding: 0.75em;
  margin: 2.5em 0;
  background-image: url('../img/officefood_logo.png');
  background-repeat: no-repeat;
  text-indent: -9999px;

  h1 {
    font-weight: normal;
  }
}

.restaurants {
  left: 20%;
  position: absolute;
}

.priceTag {
  background-color: @priceLabelBackground;
  border-radius: .3em;
  color: @priceLabelFont;
  padding: .5em 1em;
  position: relative;
  float: right;
  margin: .5em;
  box-shadow: 1px 0px 3px 0 rgba(0, 0, 0, .3);
}

.priceTag:before {
  content: '';
  position: absolute;
  display: block;
  top: .25em;
  left: -.5em;
  height: 0;
  width: 0;
  border-top: .75em solid transparent;
  border-bottom: .75em solid transparent;
  border-right: .5em solid @priceLabelBackground;
}

.restaurant {
  background-color: #FEFEEB;
  margin: 1em 0.75em 1em 0.75em; /* 16px -> 1em, 12px -> 0.75 */
  padding: 0.875em; /* 14px / 16px */
  clear: both;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .logo {
    float: left;
    width: 29%;
    margin-right: 4.5%;
    max-width: 120px;

    img {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }

  .restaurantInfo {
    color: @restaurantInfo;
  }

  .restaurantInfo a {
    color: inherit;
    text-decoration: none;
  }

  .restaurantName {
    color: @restaurantName;
    font-weight: normal;
    font-size: 1.5em; /* 24/16 */
    line-height: 1.5em;
  }

  .course {
    clear: both;
    margin-bottom: 10%;
  }

  .courseName {
    font-size: 0.875em;
    font-weight: bold;
    color: @courseNameColor;
    border-bottom: 0.2857em solid @courseNameColor;
    margin-bottom: 0.625em;
    padding: (10/16em) 0;
  }

  .dishes {
    font-size: 0.875em;
    font-weight: normal;
  }

  .dish {
    margin: 0.3em 0;
    line-height: 1.4;
  }

  .priceTag {
    background-color: @priceLabelBackground;

  }

  address {
    font-size: 0.75em; /* 16px -> 1em, 12px -> 0.75 */

    .location,
    .phoneNumber {
      display: block;
    }

    .location {
      margin-bottom: 0.5em;
    }

    .location:before {
      background: url(../img/officefood_sprite.png);
      display: inline-block;
      width: 11px;
      height: 17px;
      background-position: 0 -14px;
      content: "";
    }

    .phoneNumber:before {
      background: url(../img/officefood_sprite.png);
      display: inline-block;
      width: 16px;
      height: 12px;
      content: "";
    }

  }
}

.searchRestaurant {
  width: 90%;
  padding: 10px 5%;
  margin: 0;
  font-size: 0.875em;
  border: 0;
  color: lightgrey;

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-color: @backgroundDark;
}


.menuItem {
    display: block;
    line-height: 4em;
    color: @headingColor;
    position: relative;
    text-decoration: none;
    padding: 0 0 0 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.menuItem:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
    opacity: .1;
    z-index: 1;
    transition: opacity linear .5s;
}
.menuItem:hover:before {
    opacity: .2;
}